<div class="footer">
	Made by: <a href="http://www.karltryggvason.com">Karl Tryggvason</a> (<a href="http://www.twitter.com/karltryggvason">@karltryggvason</a>) - Using <a href="http://www.python.org/">Python</a>, <a href="https://www.djangoproject.com/">Django</a>, <a href="http://www.last.fm/api">Last.fm api</a>, <a href="http://www.mixcloud.com/developers/">Mixcloud api</a><br>
	You can find me on <a href="http://www.mixcloud.com/kalli">Mixcloud</a> and <a href="http://www.last.fm/user/djkalli">Last.fm</a>
</div>