{% include "html_headings.html" %}
<head>
	<title>LastCloud - artists similar to {{artist}}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css" type="text/css" media="screen" />	
	<script type="text/javascript" src="{{ STATIC_URL }}js/googleanalytics.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.2.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.masonry.min.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lfmmasonry.js" ></script>
</head>
<body>
			{% include "progress_bar.html" with active="2" %}
{% if artists %}
	<h1>Artists similar to <a href="http://www.last.fm/music/{{artistname}}" target="blank">{{ artistname|escape }}</a></h1>
<div id="container">
	 {% for artist in artists.similarartists.artist %}
		<div class="artist">		
				<div class="clearfix">		
					<a href="/lastcloud/mixcloud/artist/{{artist.name|slugify}}/?lastfmusername={{ lastFmUsername }}">
						{% if artist.image.3.text %}<img src="{{artist.image.3.text}}" alt="{{artist.name}}"/>{% else %}<img src="http://cdn.last.fm/flatness/catalogue/noimage/2/default_artist_mega.png" alt="{{artist.name}}"/>{% endif %}
						</a>
					<h2><a href="/lastcloud/mixcloud/artist/{{artist.name|slugify}}" >{{ artist.name }} </a></h2>
					<h3><a href="/lastcloud/lastfm/artist/{{artist.name|urlencode}}/similar" >similar artists</a></h3>
				</div>
		</div>
 	{% endfor %}
{% else %}
    <p>{{artist}} not found.</p>
{% endif %}
</div>
{% include "footer.html" %}
</body>
</html>
